.bg-blue-ligth{
    background-color: #80E0FF !important;
}
.resize{
    resize: none !important;
}
.h-200px{
    height: 200px !important;
}
.h-600px{
    height: 600px !important;
}

.w-40{
    width: 40% !important;
}
a:hover{
    font-weight: bolder;
    text-decoration: underline;
}
a:active{
text-decoration: underline !important;
}